@font-face { font-family: StarTrek; src: url('/css/fonts/StarTrek_future.ttf'); } 
root
{ 
    display: block;
}

body {
    background: #ff2d00;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.banner {
    font-family: StarTrek;
    font-size: 250px;
    height: 50%
}

.banner-footer {
    font-size: 52px;
}

.tease-box{
    position: fixed;
    width: 30%;
    height: 100px;
    background-color: bisque;
    border-radius: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
    cursor: pointer;
    bottom: 50px;
    margin-left: 40%;
}

.welcome-message{
    font-size: larger;
    font-family: fantasy;
}

